.background-acacias{
	background-image: url('../images/lasAcacias3.jpeg');
	background-repeat: no-repeat;
	width:100%;
	
}

.bg-form{
    background-color: rgba(0, 0, 0, 0.2);
	display: block;
	border-radius: 8px;
}

.bg-wrapper{
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	border-radius: 8px;
	border:0.5px solid #2F3C33;
}

.titulo{
	font-family: 'Bevan', cursive;
}

.cuerpo{
	font-family: 'Merriweather', serif;
}

.idioma{
	position: relative;
	left: 0;
	top:0;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  line-height: 1.8;
}